.login-container {
  background-image: url("../assets/photo_2025-10-09_17-20-53.jpg"); /* خلي الصورة اللي عندك بنفس المسار */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #FFD54F;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-subtitle {
  color: white;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}

.login-btn {
  background-color: #1E88E5;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #1565C0;
}

.signup-text {
  color: white;
  margin-top: 20px;
}

.signup-text a {
  color: #FFD54F;
  text-decoration: none;
  font-weight: bold;
}